
<div ng-controller="combusCtl">

    <div class="col-md-12 col-sm-12">

        <div class="row">

            <!-- PROCESSO (VISÍVEL QUANDO É TANQUE OU MELOSA) -->
            <div class="col-md-2 col-sm-2" ng-if="ehTanque || ehMelosa">
                <div class="form-group" ng-class="{'has-error': !campo.processo}">
                    <label class="control-label"> <small>Processo *</small> </label>

                    <select class="form-control input-sm" ng-model="campo.processo" ng-change="info(campo)" ng-disabled="(campo._id && dataLimite)" required>
                        <option value="S">Saída</option>
                        <option value="E" ng-if="ehTanque">Entrada</option>
                        <option value="A">Aferição</option>
                    </select>
                </div>
            </div>


            <!-- ITENS DE ENTRADA DE COMBUSTÍVEL -->
            <div ng-if="campo.processo == 'E' || semSaldo">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.quant}">
                        <label class="control-label"> <small>Quantidade *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.quant" min="0"
                               ng-required="campo.processo == 'E' || semSaldo" ng-change="calcula()" ng-readonly="(campo._id && dataLimite)">
                    </div>
                </div>

            </div>


            <div ng-if="ehTanque && campo.processo == 'E'">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.vlunit}">
                        <label class="control-label"> <small>$ Unitário *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.vlunit" min="0"
                               ng-required="ehTanque && campo.processo == 'E'" ng-change="calcula()" ng-readonly="(campo._id && dataLimite)">
                    </div>
                </div>

            </div>

            <!-- FINAL DOS ITENS DE ENTRADA DE COMBUSTÍVEL -->


            <!-- ITENS DE SAÍDA -->
            <div ng-if="(campo.processo == 'S' || campo.processo == 'A') && !semSaldo">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.bombaini && (campo.processo == 'S' || campo.processo == 'A')}">
                        <label class="control-label"> <small>Bomba Inicial *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.bombaini" min="0"
                               step="0.1" ng-change="calcula()" ng-required="(campo.processo == 'S' || campo.processo == 'A') && !semSaldo"
                               ng-readonly="(campo._id && dataLimite)">
                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.bombafim && (campo.processo == 'S' || campo.processo == 'A')}">
                        <label class="control-label"> <small>Bomba Final *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.bombafim"
                               min="{{campo.bombaini}}" step="0.1" ng-change="calcula()"
                               ng-required="(campo.processo == 'S' || campo.processo == 'A') && !semSaldo"
                               ng-readonly="(campo._id && dataLimite)">
                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label class="control-label"> <small>Saída</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.quant" min="0"
                               ng-required="(campo.processo == 'S' || campo.processo == 'A') && !semSaldo" readonly>
                    </div>
                </div>

            </div>


            <!-- ITENS DE AMBOS PROCESSOS -->
            <div class="col-md-2 col-sm-2">
                <div class="form-group" ng-class="{'has-error': !campo.produto}">
                    <label class="control-label"> <small>Produto *</small> </label>

                    <select class="form-control input-sm" ng-model="campo.produto"
                            ng-options="pr._id as pr.nome for pr in desc.produtos | orderBy: 'nome'"
                            ng-change="calcula()" ng-disabled="tmpProd || (campo._id && dataLimite)" required>
                        <option value="" style="display: none"> Produto </option>
                    </select>
                </div>
            </div>

            <div class="col-md-2 col-sm-2" ng-show="desc.valorTotal">
                <div class="form-group">
                    <label class="control-label"> $ Total</label>
                        <span class="form-control input-sm" style="border: none; box-shadow: none; padding-left: 0">
                            <h5 style="margin-top: 5px;"> <strong> R$ {{ desc.valorTotal | number:2 }} </strong> </h5>
                        </span>
                </div>
            </div>
            <!-- FINAL - ITENS DE AMBOS PROCESSOS -->


            <!-- CONTINUAÇÃO ITENS DE SAÍDA-->
            <div ng-if="campo.processo == 'S'">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.abastecido && campo.processo == 'S'}">
                        <label class="control-label">
                            <small>Ativo *</small>
                        </label>

                        <select class="form-control input-sm" ng-model="campo.abastecido"
                                ng-options="abs.id as abs.nome for abs in tmpAbastecidos | orderBy: 'nome'"
                                ng-required="campo.processo == 'S'" ng-change="calcula()"
                                ng-disabled="(campo._id && dataLimite)">
                            <option value="" style="display: none"> Ativo </option>
                        </select>

                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': campo.abastecido != 'AVULSO' && !campo.kmabastecido}">
                        <label class="control-label"> <small>Hor./Km Ativo</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.kmabastecido" min="0"
                               step="0.1" ng-required="campo.processo == 'S' && campo.abastecido != 'AVULSO'" ng-readonly="(campo._id && dataLimite)">
                    </div>
                </div>

                <div class="col-md-2 col-sm-2">

                    <div class="form-group">

                        <label class="label-checkbox" style="padding-top: 30px;">
                            <input type="checkbox" ng-model="campo.cheio" ng-disabled="(campo._id && dataLimite)">
                            <span class="custom-checkbox"></span>
                            Tanque Cheio
                        </label>
                    </div>

                </div>
            </div>

        </div>

        <!-- FINAL DOS ITENS DE SAÍDA -->


        <!-- ALERTAS -->
        <div class="alert alert-warning" ng-if="saldo.futuro < 0">
            <strong>ATENÇÃO!</strong> O Ativo Fonte ficará com Saldo Negativo.
            <input type="text" ng-model="nada" ng-required="saldo.futuro < 0" ng-hide="true"/>
        </div>

        <div class="alert alert-danger" ng-if="saldo.capacidade && saldo.futuro > saldo.capacidade">
            <strong>ATENÇÃO!</strong> O Saldo ficará maior que a Capacidade do Ativo.
            <input type="text" ng-model="nada2" ng-required="saldo.capacidade && saldo.futuro > saldo.capacidade" ng-hide="true"/>
        </div>

        <div class="alert alert-danger" ng-if="erroAbastecido">
            <strong>ATENÇÃO!</strong> O Saldo ficará maior que a Capacidade do Ativo Abastecido.
            <input type="text" ng-model="nada3" ng-required="erroAbastecido" ng-hide="true"/>
        </div>
        <!-- FINAL DOS ALERTAS -->


        <!-- MAIS OPÇÕES -->
        <div class="row">

            <div class="col-md-12 col-sm-12">

                <button type="button" class="btn btn-default btn-sm extra" ng-click="maisOp = !maisOp">
                    {{ (maisOp) ? "Menos" : "Mais"}} Opções
                </button>

                <hr style="margin-top: 15px; margin-bottom: 15px;"/>

                <div uib-collapse="!maisOp && campo.abastecido != 'AVULSO'">

                    <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label"> <small>Centro de Custos</small> </label>

                            <select class="form-control input-sm" ng-model="campo.custos"
                                    ng-options="loc._id as loc.nome for loc in todos.custos | orderBy: 'nome'"
                                    ng-disabled="(campo._id && dataLimite)">
                                <option value="" style="display: none"> Custos </option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" ng-class="{'has-error': campo.abastecido == 'AVULSO' && !campo.obs}">
                            <label class="control-label"><small> Observação </small></label>
                            <input type="text" class="form-control input-sm" ng-model="campo.obs" ng-required="campo.abastecido == 'AVULSO'"
                                   ng-readonly="(campo._id && dataLimite)">
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>