
<div ng-controller="horakmCtl">

    <div class="col-md-12 col-sm-12">

        <div class="row">

            <div ng-if="habilita.hora">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.horaini}">
                        <label class="control-label"> <small>Hora Inicial *</small> </label>

                        <uib-timepicker ng-model="campo.horaini" show-meridian="false" show-spinners="false"
                                        ng-change="calcula()" ng-required="habilita.hora"></uib-timepicker>

                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.horafim}">
                        <label class="control-label"> <small>Hora Final *</small> </label>

                        <uib-timepicker ng-model="campo.horafim" show-meridian="false" show-spinners="false" min="campo.horaini"
                                        ng-change="calcula()" ng-required="habilita.hora"></uib-timepicker>

                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label class="control-label"> <small>Total de Horas</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.htotal" min="0"
                               step="0.1" ng-required="habilita.hora" readonly>
                    </div>
                </div>

            </div>

            <div ng-if="habilita.km">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.kmini}">
                        <label class="control-label"> <small>Km Inicial *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.kmini" min="0"
                               step="0.1" ng-change="calcula()" ng-required="habilita.km" ng-disabled="!campo.ativo">
                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.kmfim}">
                        <label class="control-label"> <small>Km Final *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.kmfim"
                               min="{{campo.kmini}}" step="0.1" ng-change="calcula()"
                               ng-required="habilita.km" ng-disabled="!campo.ativo">
                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label class="control-label"> <small>Total Km</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.kmtotal" min="0"
                               step="0.1" ng-required="habilita.km" readonly>
                    </div>
                </div>

            </div>

            <div class="col-md-3 col-sm-3">
                <div class="form-group" ng-class="{'has-error': !campo.status}">
                    <label class="control-label"> <small>Status *</small> </label>

                    <!--<div class="input-group">-->
                    <select class="form-control input-sm" ng-model="campo.status"
                            ng-options="stt._id as stt.nome for stt in todos.status | orderBy: 'nome'"
                            ng-required="campo.ativo" ng-disabled="!campo.ativo">
                        <option value="" style="display: none"> Status </option>
                    </select>

                    <!--                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalMenor"
                                                    ng-click="abreModal('status')" title="Adicionar Status">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span>
                                        </div>-->
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="form-group" ng-class="{'has-error': !campo.atividade}">
                    <label class="control-label"> <small>Atividade *</small> </label>

                    <!--<div class="input-group">-->
                    <select class="form-control input-sm" ng-model="campo.atividade"
                            ng-options="atv._id as atv.nome for atv in todos.atividade | filter: {'status': campo.status}| orderBy: 'nome'"
                            ng-disabled="!campo.status" ng-required="campo.ativo">
                        <option value="" style="display: none"> Atividade </option>
                    </select>

                    <!--                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalMenor"
                                                    ng-click="abreModal('status')" ng-disabled="!campo.status" title="Adicionar Atividade">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span>
                                        </div>-->
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-12 col-sm-12">

                <button type="button" class="btn btn-default btn-sm extra" ng-click="maisOp = !maisOp">
                    {{ (maisOp) ? "Menos" : "Mais"}} Opções
                </button>

                <hr style="margin-top: 15px; margin-bottom: 15px;"/>

                <div uib-collapse="!maisOp">

                    <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label"> <small>Centro de Custos</small> </label>

                            <select class="form-control input-sm" ng-model="campo.custos"
                                    ng-options="loc._id as loc.nome for loc in todos.custos | orderBy: 'nome'">
                                <option value="" style="display: none"> Custos </option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label"><small> Observação </small></label>
                        <input type="text" class="form-control input-sm" ng-model="campo.obs">
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>