

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{ (!campo._id) ? "Novo" : "Editar"}} Lançamento de Saída </h3>
    </div>

    <div class="modal-body">
        <form ng-submit="salvar()" method="post" name="frmSai">

            <div class="row">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.data}">
                        <span class="fixa fa-lg" ng-class="{'selecionado': fixados['data']}" ng-click="fixar('data')"
                              ng-if="campo.data && !campo.chegou" title="Fixar"></span>

                        <label class="control-label"><small>Data *</small></label>

                        <div class="input-group">
                            <input type="text" class="form-control input-sm" uib-datepicker-popup="dd/MM/yy"
                                   datepicker-options="dateOptions" ng-model="campo.data" show-button-bar="false"
                                   is-open="picker.abreDt" ng-change="pegaAtivos(campo)"
                                   ng-readonly="fixados['data'] || campo.chegou" required/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="abrePicker()"
                                        ng-disabled="fixados['data'] || campo.chegou">
                                    <i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.hora}">
                        <label class="control-label"> <small>Hora *</small> </label>

                        <uib-timepicker ng-model="campo.hora" show-meridian="false" show-spinners="false"
                                        ng-required="true" readonly-input="campo.chegou"></uib-timepicker>

                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="form-group" ng-class="{'has-error': !campo.ativo}">

                        <label class="control-label"><small>Ativo *</small></label>

                           <select class="form-control input-sm" ng-model="campo.ativo"
                                ng-options="atv.id as atv.nome for atv in tmpAtivos | orderBy: 'nome'"
                                ng-change="info(campo)" ng-disabled="campo.chegou" required>
                            <option value="" style="display: none"> Ativo </option>
                        </select>

                    </div>
                </div>

                <div class="col-md-5 col-sm-5">
                    <div class="form-group">
                        <label class="control-label"> {{desc.ctg}}</label>
                        <span class="form-control input-sm" style="border: none; box-shadow: none; padding-left: 0">
                            {{ desc.descricao }}
                        </span>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.ticket}">
                        <label class="control-label"> <small>Ticket *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.ticket" min="0"
                               ng-readonly="campo.chegou" required>
                    </div>
                </div>


                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.peso}">
                        <label class="control-label"> <small>Peso (Ton)*</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.peso" min="0"
                               step="0.1" ng-readonly="campo.chegou" required>
                    </div>
                </div>


                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.nf}">
                        <label class="control-label"> <small>N.F. *</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.nf" min="0"
                               ng-readonly="campo.chegou" required>
                    </div>
                </div>


                <div class="col-md-2 col-sm-2">
                    <div class="form-group" ng-class="{'has-error': !campo.pesonf}">
                        <label class="control-label"> <small>Peso N.F. (Ton)*</small> </label>

                        <input class="form-control input-sm" type="number" ng-model="campo.pesonf" min="0"
                               ng-readonly="campo.chegou" step="0.1" required>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="form-group" ng-class="{'has-error': !campo.produto}">
                        <span class="fixa fa-lg" ng-class="{'selecionado': fixados['produto']}" ng-click="fixar('produto')"
                              ng-if="campo.produto && !campo.chegou" title="Fixar"></span>
                        <label class="control-label"><small>Produto *</small></label>

                        <select class="form-control input-sm" ng-model="campo.produto"
                                ng-options="tr._id as tr.nome for tr in todos.produto | filter:{categ: 'prod'} | orderBy: 'nome'"
                                ng-disabled="fixados['produto'] || campo.chegou" required>
                            <option value="" style="display: none"> Produto </option>
                        </select>

                    </div>
                </div>

            </div>

        </form>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <span ng-if="itens.length <= 1 && !campo.chegou">
                <button class="btn btn-primary btn-sm" type="button" ng-click="salvar()" ng-disabled="frmSai.$invalid">Salvar</button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="salvar('f')" ng-disabled="frmSai.$invalid">Salvar & Fechar</button>
            </span>

            <span ng-if="itens.length > 1 && !campo.chegou">
                <button class="btn btn-primary btn-sm" type="button" ng-click="salvar('e')" ng-disabled="frmSai.$invalid">Salvar & Editar Próximo</button>
            </span>

            <a href style="color: darkred; padding: 10px;" ng-click="cancel()">Cancelar</a>
        </div>

        <div class="pull-right" ng-if="!campo.chegou">
            <button class="btn btn-default btn-sm" type="button" ng-click="zera()" >Limpar Campos</button>
        </div>
    </div>
