<!DOCTYPE html>
<html>
<head>
    <title>WebApp - Login</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="container login-page">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="sidebar-logo">
                <img class="sidebar-logo__img" src="img/teapod-logo.png" alt="teapod-logo">
                <div class="sidebar-logo__text">teapot</div>
            </div>

            <form class="form-login form-horizontal" method="POST" action="/login" accept-charset="UTF-8">
                <% if (message) { %>
                <h3 class="badge badge-important text-center"><%= message %></h3>
                <% } %>
                <div class="">
                    <input class="form-control" type="email" id="username"  name="username" placeholder="Email" autofocus>

                    <input class="form-control" type="password" id="password"  name="password" placeholder="Password">
                </div>
                <button type="submit" name="submit" class="btn btn-lg btn-block">Log In</button>

                <div class="btn btn-lg btn-block show-signup">Sign Up</div>
            </form>

            <form class="form-signup form-horizontal hide" method="POST" action="/signup" accept-charset="UTF-8">
                <div class="">
                    <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name" autofocus>

                    <input class="form-control" type="text" id="lastName"  name="lastName" placeholder="Last Name">

                    <input class="form-control" type="email" id="newEmail"  name="newEmail" placeholder="Email">

                    <input class="form-control" type="password" id="newPassword"  name="newPassword" placeholder="Password">
                </div>
                <div class="button-group">
                    <a class="btn btn-lg back-tologin">Back to login</a>
                    <button type="submit" name="submit" class="btn btn-lg">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="vendor/js/jquery-3.2.1.min.js"></script>
<script>
    $('.show-signup').on('click', function (){
        $('.form-login').addClass('hide');
        $('.form-signup').removeClass('hide');
    });
    $('.back-tologin').on('click', function (){
        $('.form-signup').addClass('hide');
        $('.form-login').removeClass('hide');
    });
</script>
</body>
</html>