<!DOCTYPE html>
<html>
<head>
    <title>WebApp - Login</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #eeeeee; padding-top: 40px;">

<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">

            <h2 class="text-center">WebApp - Login</h2>

            <form class="form-horizontal" method="POST" action="/login" accept-charset="UTF-8">
                <% if (message) { %>
                <h3 class="badge badge-important text-center"><%= message %></h3>
                <% } %>
                <div class="form-group" style="font-size: 16px;">
                    <input class="form-control" type="email" id="username"  name="username" placeholder="Email"
                            style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;" autofocus>

                    <input class="form-control" type="password" id="password"  name="password" placeholder="Senha"
                            style="border-top-left-radius: 0; border-top-right-radius: 0;">
                </div>

                <button type="submit" name="submit" class="btn btn-lg btn-block"
                        style="background-color: #424f63; border-color: #424f63; color: white">Entrar</button>

            </form>


            <form class="form-horizontal" method="POST" action="/signup" accept-charset="UTF-8">

                <div class="form-group" style="font-size: 16px;">
                    <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name"
                        style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;" autofocus>

                    <input class="form-control" type="text" id="lastName"  name="lastName" placeholder="Last Name"
                        style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">

                    <input class="form-control" type="email" id="newEmail"  name="newEmail" placeholder="Email"
                            style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">

                    <input class="form-control" type="password" id="newPassword"  name="newPassword" placeholder="Password"
                            style="border-top-left-radius: 0; border-top-right-radius: 0;">
                </div>

                <button type="submit" name="submit" class="btn btn-lg btn-block"
                        style="background-color: #424f63; border-color: #424f63; color: white">New User</button>

            </form>
        </div>
    </div>
</div>

</body>
</html>