
/* GERAL */
body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    color: #395a7a;
    background-color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Nunito', sans-serif;
    padding-top: 65px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

input[type="text"]{ text-transform: capitalize; }

select, td { text-transform: uppercase; }

th i:hover, td i:hover { transform: scale(1.2); }

.no-padding { padding: 0 !important; }

.zerado { color: lightgray !important; }

.bloqueado { background-color: #eee; }

.negativo { color: red !important; }
/* FINAL - GERAL*/



/* ALTERA BOOTSTRAP */

/* navbar */
.navbar{
    background: #004269;
    border-bottom: #004269;
}

.navbar > .container{ padding: 0 140px; }

.navbar-brand{ color: whitesmoke; }

.navbar-brand:hover {
    color: white;
    cursor: default;
}

.navbar .navbar-nav:not(.navbar-right) > li > a {
    color: #468cb4;
    font-size: 13px;
    font-weight: bold;
}

.navbar .navbar-nav:not(.navbar-right) > .open > a,
.navbar .navbar-nav:not(.navbar-right) > li > a:hover,
.navbar .navbar-nav:not(.navbar-right) > li > a:focus {
    border-top: 1px solid whitesmoke;
    padding-top: 14px;
    background: #004269;
    color: white;
}


.navbar .navbar-nav:not(.navbar-right) > .active > a,
.navbar .navbar-nav:not(.navbar-right) > .active > a:hover,
.navbar .navbar-nav:not(.navbar-right) > .active > a:focus {
    border-top: none;
    padding-top: 15px;
    background: #004269;
    color: white;
    outline: none;
    cursor: default;
}

.navbar .navbar-nav.navbar-right > li > a > .fa { color: white; }

.navbar .navbar-nav.navbar-right > li > a:hover,
.navbar .navbar-nav.navbar-right > li > a:focus { background: #004269; }

.navbar .navbar-nav.navbar-right > li > a > .fa.open,
.navbar .navbar-nav.navbar-right > li > a > .fa:hover,
.navbar .navbar-nav.navbar-right > li > a > .fa:focus { transform: scale(1.2); }
/* final - navbar */

/* pills */
.nav-pills > li > a { color: white; }
.nav-pills > li > a:hover {
    background-color: #9ccfed;
    color: white;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
    color: #004269;
    background: white;
    border-right: none;
}
/* final - pills */

/* tables */
.table > thead:first-child > tr:first-child > th { border-top: 1px solid #c9d3dd;}

.table > thead > tr > th { border-bottom: none; }

.table > tbody > tr > td { color: #2B2922; cursor: pointer }

/* final - tables */

/* dropdown */
.dropdown:hover .dropdown-menu { display: block; }

.dropdown-menu {
    background: #004269;
    margin-top: 0;
}

.dropdown-menu > li > a { color: white; }
/* final - dropdown */

/* tabs */
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    min-height: 400px;
}

.nav-tabs { margin-bottom: 0; }
/* final - tabs */

/* popover */
.popover-content{ padding: 5px; }
/* final - popover */

/* modal */
.modal-dialog.modal-lg{ width: 65%; }
/*final - modal */

/* FINAL - ALTERA BOOTSTRAP */



/* TABLE SCROLL */
table.scroll {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    border-radius: 5px;
    margin-bottom: 10px;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block; }

table.scroll thead.size tr {width: calc(100% - 8px);}

table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll thead{
    background-color: #c9d3dd;
    font-size: 11px;
    cursor: pointer;
}

table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    border-top: 1px solid #8C8C8C;
    font-size: 11px;
}

table.scroll tbody tr td {
    float: left;
    height: 18px;
    margin-top: 5px;
    cursor: default;
}

table.scroll tbody tr{ border-bottom: 1px solid #DBDBDB; }

table.scroll tbody tr.linhaAlta{ height: 30px; }

table.scroll tbody tr:hover{ background-color:  #f5f5f5; }

table.scroll thead tr th {
    height: 20px;
    margin-top: 7px;
    float: left;
}

table.scroll tbody td:last-child, table.scroll thead th:last-child {border-right: none !important;}
/* FINAL - TABLE SCROLL */



/* ANGULAR-CAROUSEL */
input[type=range] { width: 300px; }

ul[rn-carousel] {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    position: relative;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

ul[rn-carousel] > li {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: visible;
    vertical-align: top;
    left: 0;
    right: 0;
    white-space: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

div.rn-carousel-indicator span {
    cursor: pointer;
    color: #53a2ed;
}

div.rn-carousel-indicator span.active { color: #204d74; }

.rn-carousel-control {
    font-family: FontAwesome;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.rn-carousel-control:hover { opacity: 1; }

.rn-carousel-control.rn-carousel-control-prev { left: 0.1em; }

.rn-carousel-control.rn-carousel-control-prev:before { content: "\f053"; }

.rn-carousel-control.rn-carousel-control-next { right: 0.1em; }

.rn-carousel-control.rn-carousel-control-next:before { content: "\f054"; }
/* FINAL - ANGULAR-CAROUSEL */



/* UI BOOTSTRAP */
.uib-time input{
    height: 30px !important;
    font-size: 12px !important;
}

.uib-datepicker-popup{ z-index: 2000; }

.uib-daypicker thead tr:nth-child(2){ color: white; }

.vazio .tab-content>.active { display: none; }
/* FINAL - UI BOOTSTRAP */



/* OVERLAY (LOADING INICIAL) */
.overlay {
    background: #eeeeee;
    left: 0;
    right: 0;
    top: 0;
    bottom: -100px;
    position: fixed;
    z-index: 9999;
    opacity: 1;
}

.overlay.transparent { background: rgba(0, 0, 0, 0.5); }

.overIcon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* FINAL - OVERLAY*/



/* SETA DROPDOWN */
.fecha:after {
    font-family: FontAwesome;
    content: "\f077";
    float: right;
}

.fecha.fechado:after { content: "\f078"; }
/* FINAL - SETA DROPDOWN */



/* LIMPA INPUT */
.limpa{
    cursor: pointer;
    float: right;
    margin-top: -22px;
    margin-right: 5px;
}

.limpa:hover{
    color: lightgray;
    transform: scale(1.1);
}
/* FINAL - LIMPA INPUT */



/* FIXAR CAMPO (CHECK) */
.fixa:after {
    font-family: FontAwesome;
    content: "\f096";
    cursor: pointer;
}

.fixa.selecionado:after { content: "\f046"; }
/* FINAL - FIXAR CAMPO */



/* MAIS CAMPOS (LANÇAMENTOS) */
.extra {
    border-radius: 35px;
    background-image: linear-gradient(to bottom, #FFFFFF, #D4D4D4);
    width: 150px;
    right: 30px;
    position: absolute;
    z-index: 1;
}
/* FINAL - MAIS CAMPOS */



/* MEDIÇÃO */
.medic{
    /*font-family: 'Arial Narrow', Arial, sans-serif;*/
    background-color: white;
    color: black;
    padding: 5px 10px;
}
/* FINAL - MEDIÇÃO */


/* BANDEIRAS DE IDIOMAS */
.flag {
    height: 20px;
    width: 20px;
    cursor: pointer;
    /*    position: fixed;
        top: 3px;*/
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.flag:hover{
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
}

.flag.atual{
    cursor: default;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
}
/* FINAL - BANDEIRAS DE IDIOMAS */


/* DASHBOARD */
.areaDrop {
    border: 1px solid #dddddd;
    border-top: none;
    overflow: hidden;
}


/* WIDGET RESUMO */
.widget-main {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    position: absolute;
    cursor: default;
    width: 305px;
    height: 122px;
}

.widget-main .icone {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}

.widget-main .icone > i {
    margin-left: -10px;
    font-size: 110px;
    line-height: 110px;
    color: #FFF;
    opacity: .1;
}

.widget-main .detalhe {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}

.widget-main .detalhe .numero {
    padding-top: 15px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color: #FFFFFF;
}

.widget-main .detalhe .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: #FFF;
    opacity: 1;
    line-height: 1.1;
}

.widget-main .mais {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: .7;
    color: #FFF;
    cursor: pointer;
}

.widget-main .mais > i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}
/* FINAL - WIDGET RESUMO */


/* WIDGET GRÁFICO */
.widget-graf {
    display: block;
    overflow: hidden;
    position: absolute;
    border: 1px solid #ccc;
}
/* FINAL - WIDGET GRÁFICO */


/* WIDGET TABELA */
.widget-tab {
    display: block;
    border: 1px solid #ccc;
    overflow: hidden;
    position: absolute;
}

.tableDash{
    border: 0 !important;
    width: 100%;
    cursor: default;
}

.tableDash > thead { background-color: transparent !important; }


.tableDash > thead > tr > th {
    font-weight: 600;
    font-size: 11px;
    color: #93a2a9;
    font-family: "Open Sans",sans-serif;
    border: 0;
    border-bottom: 1px solid #F2F5F8 !important;
    text-transform: uppercase;
}

.tableDash > tbody { border-top: none !important; }

.tableDash > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #F2F5F8 !important;
    color: #8896a0;
    vertical-align: middle;
}

.tableDash > tbody > tr:hover{
    background: #f5f5f5;
    cursor: pointer;
}

.dashIcon {
    padding: 0 10px;
    cursor: pointer;
}

.dashIcon:hover { transform: scale(1.2); }
/* FINAL - WIDGET TABELA */

/* FINAL - DASHBOARD */