<div>

    <strong style="color: #999; font-size: 13px;"> DADOS DO EQUIPAMENTO </strong>

    <table style="width: 100%; border: 1px solid black; font-size: 11px">

        <tr style="height: 30px">

            <td style="padding-left: 5px; width: 33%;">
                PREFIXO: <strong> {{slide.atual.nome}} </strong>
            </td>

            <td style="padding-left: 5px; width: 33%;">
                TIPO: <strong> {{slide.atual.tipo}} </strong>
            </td>

            <td style="padding-left: 5px; width: 34%; ">
                DESCRIÇÃO: <strong> {{slide.atual.descricao}} </strong>
            </td>

        </tr>


        <tr style="height: 30px">

            <td style="padding-left: 5px; width: 33%;">
                Nº CONTRATO: <strong> {{slide.atual.contrato}} </strong>
            </td>

            <td style="padding-left: 5px; width: 33%;">
                DATA CONTRATO: <strong> {{slide.atual.data}} </strong>
            </td>

            <td style="padding-left: 5px; width: 34%; ">
                VALOR MENSAL: <strong> {{slide.atual.valor | currency:"R$ "}} </strong>
            </td>

        </tr>


        <tr style="height: 30px">

            <td style="padding-left: 5px; width: 33%;">
                FORNECEDOR: <strong> {{medidor.forn.toUpperCase()}} </strong>
            </td>

            <td style="padding-left: 5px; width: 33%;">
                VALOR DÉBITO/CRÉDITO: <strong> {{slide.valorDC | currency:"R$ "}} </strong>
            </td>

            <td style="padding-left: 5px; width: 33%;">
                VALOR MEDIÇÃO:
                <strong> {{ slide.valorTotal | currency:"R$ "}}
                    <span ng-if="slide.valorDC != 0">
                        - TOTAL: {{ (slide.valorTotal + slide.valorDC) | currency:"R$ "  }}
                    </span>
                </strong>
            </td>

        </tr>

    </table>

    <br/>

    <strong style="color: #999; font-size: 13px;"> OBSERVAÇÕES </strong>

    <table style="width: 100%; font-size: 11px">

        <tr class="text-center" style="background-color: #d9d9d9; height: 30px; font-weight: bold; border-top: 1px solid black;
         border-bottom: 1px solid black;">

            <td colspan="2" style="width: 15%;"> Data </td>

            <td style="width: 15%;"> Status </td>

            <td style="width: 70%;"> Observações </td>

        </tr>


        <tr class="text-center" style="height: 30px; border-bottom: 1px solid black;" ng-repeat="dia in slide.observa">

            <td> {{ dia.data }} </td>
            <td> {{ dia.semana }} </td>
            <td> {{ dia.status }} </td>
            <td> {{ dia.obs }} </td>

        </tr>

    </table>

</div>
