<div>

    <strong style="color: #999; font-size: 13px;"> DADOS DO ATIVO </strong>

    <table style="width: 100%; border: 1px solid black; font-size: 11px">

        <tr style="height: 30px">

            <td style="padding-left: 5px; width: 33%;">
                PREFIXO: <strong> {{slide.atual.nome}} </strong>
            </td>

            <td style="padding-left: 5px; width: 33%;">
                TIPO: <strong> {{slide.atual.tipo}} </strong>
            </td>

            <td style="padding-left: 5px; width: 34%; ">
                DESCRIÇÃO: <strong> {{slide.atual.descricao}} </strong>
            </td>

        </tr>


        <tr style="height: 30px">

            <td style="padding-left: 5px; width: 33%;">
                Nº CONTRATO: <strong> {{slide.atual.contrato}} </strong>
            </td>

            <td style="padding-left: 5px; width: 33%;">
                DATA CONTRATO: <strong> {{slide.atual.data}} </strong>
            </td>

            <td style="padding-left: 5px; width: 34%; ">
                FORNECEDOR: <strong> {{medidor.forn.toUpperCase()}} </strong>
            </td>

        </tr>

        <tr style="height: 30px">

            <td style="padding-left: 5px; width: 33%;">
                VALOR MEDIÇÃO: <strong> {{ slide.valorTotal | currency:"R$ "}} </strong>
            </td>

            <td style="padding-left: 5px; width: 33%;">
                VALOR DÉBITO/CRÉDITO: <strong> {{slide.valorDC | currency:"R$ "}} </strong>
            </td>

            <td style="padding-left: 5px; width: 34%;">
                VALOR TOTAL: <strong> {{ (slide.valorTotal + slide.valorDC) | currency:"R$ "  }} </strong>
            </td>

        </tr>

    </table>

    <br/>

    <strong style="color: #999; font-size: 13px;"> RESUMO POR PRODUTO </strong>

    <div class="row" style="width: 100%; border: 1px solid black; font-size: 11px; margin-left: 1px;">

        <div class="col-md-4 col-sm-4" ng-repeat="pr in slide.produtos" style="font-size: 10px; display: flex; height: 30px; padding: 8px 0 0 0;"
                ng-style="{'border-right': (($index + 1) % 3 == 0) ? 'none' : '1px solid black'}">

            <div style="width: 40%; padding-left: 3px;"> <strong>{{ pr.nome.toUpperCase() }} </strong></div>
            <div style="width: 20%; text-align: center;">{{ pr.quant | number: 2 }}</div>
            <div style="width: 20%; text-align: right; padding-right: 3px;">{{ pr.vlUnit | number: 2 }}</div>
            <div style="width: 20%; text-align: right; padding-right: 3px;"><strong>{{ pr.vlTotal | number: 2 }}</strong></div>

        </div>

    </div>

    <br/>

    <strong style="color: #999; font-size: 13px;"> RESULTADO </strong>

    <table style="width: 100%; font-size: 11px">

        <tr class="text-center" style="background-color: #d9d9d9; height: 30px; font-weight: bold; border-top: 1px solid black;
         border-bottom: 1px solid black;">

            <td colspan="2" style="width: 20%;"> Data </td>

            <td style="width: 60%;"> Descrição </td>

            <td style="width: 20%;"> $ Dia </td>

        </tr>


        <tr class="text-center" style="height: 30px; border-bottom: 1px solid black;" ng-repeat="dia in slide.trabalho">

            <td> {{ dia.data }} </td>
            <td style="text-align: left;"> {{ dia.semana }} </td>
            <td style="text-align: left; padding-left: 15px;"> {{ dia.descricao }} </td>
            <td style="text-align: right; padding-right: 15px;" ng-class="{zerado: dia.diaria == 0}"> {{ dia.diaria | currency:"R$ " }} </td>

        </tr>

    </table>

</div>
