

<div id="{{slide.nome}}" class="medic">

    <!-- CABEÇALHO -->
    <table style="width: 100%;">

        <tr>

            <td class="text-center" rowspan="6" style="width: 20%;">
                <img src="../../img/logo.png" width="180" height="74" alt=""/>
            </td>

            <td colspan="3" style="padding-left: 15%; font-size: 16px">
                <strong> {{ slide.empresa.nome.toUpperCase() }} </strong>
            </td>

        </tr>

        <tr style="height: 10px;"></tr>

        <tr style="font-size: 12px;">

            <td style="padding-left: 5px; width: 35%;">
                <strong> {{ slide.empresa.endereco.toUpperCase() + ", " +  slide.empresa.numero }} </strong>
            </td>

            <td style="padding-left: 5px; width: 25%;">
                BAIRRO: <strong> {{ slide.empresa.bairro }} </strong>
            </td>

            <td style="padding-left: 5px; width: 20%;">
                <strong> {{ slide.dataImp }} </strong>
            </td>

        </tr>


        <tr style="font-size: 12px;">

            <td style="padding-left: 5px">
                <strong> {{ slide.empresa.cidade.toUpperCase() + "-" + slide.empresa.estado }} </strong>
            </td>

            <td style="padding-left: 5px">
                CEP: <strong> {{ slide.empresa.cep | cep }} </strong>
            </td>

            <td style="padding-left: 5px">
                página: <strong> {{ ($index + 1) + "/" + slides.length }}</strong>
            </td>

        </tr>


        <tr style="font-size: 12px;">

            <td style="padding-left: 5px">
                FONE: <strong>{{ slide.empresa.fixo | tel }} </strong>
            </td>

            <td style="padding-left: 5px">
                CEL.: <strong> {{ slide.empresa.celular | tel }} </strong>
            </td>

            <td style="padding-left: 5px">
                medição: <strong> {{ slide.medicao }}</strong>
            </td>

        </tr>


        <tr style="font-size: 12px;">

            <td style="padding-left: 5px">
                CNPJ: <strong> {{ slide.empresa.cnpj | cnpj }} </strong>
            </td>

            <td style="padding-left: 5px">
                IE: <strong> {{ slide.empresa.ie }} </strong>
            </td>

            <td style="padding-left: 5px">
                <strong> {{ slide.medicao2 }}</strong>
            </td>

        </tr>

    </table>

    <br/>

    <div class="text-center"> <strong style="font-size: 20px">BOLETIM DE MEDIÇÃO</strong> </div>

    <br/>

    <ng-include src="slide.fecha"></ng-include>

</div>

