   
<div ng-controller="aboutCtl" class="col-sm-12 col-md-11 col-lg-11">
    <h2 class="content-title">About</h2>
    <hr class="horizontal-divider" />
    <p class="content-text">
        Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. 
    </p>
    <h2 class="content-title">The team</h2>
    <hr class="horizontal-divider" />
    <p class="content-text">
        Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. 
    </p>

    <button ng-click="clear()">Limpa</button>

    <button ng-click="gera1()">Gera1</button>

    <button ng-click="gera2()">Gera2</button>
</div>