
<div ng-controller="mainCtl">


    <div class="content__header">
        <h2>Main page</h2>
    </div>
    <div class="content__panel">
        <section class="section row">
            <div class="suggested-question__section-left col-3">
                <div>YOUR DAILY CHALLENGE!</div>
                <div>Select your focus for today (dropdown para buscar uma questao de um content especifico)</div>
                <button class="btn">
                    ACCEPT
                </button>
                <button class="btn">
                    SKIP
                </button>
            </div>
            <div class="suggested-question__section-right col-9">
                Question - OCAPI
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non urna at ligula tempus auctor. Nunc ligula lacus, maximus ac eros sed, sagittis dictum lorem. Nam a mattis turpis. Vivamus dolor tellus, efficitur nec tellus id, iaculis sodales nunc. Aenean sit amet venenatis tellus. Vivamus pretium urna quam, at pellentesque velit tempus eget. Nulla vestibulum, dui viverra mattis venenatis, ante neque euismod ligula, ac luctus enim ipsum vel libero. Cras tincidunt sapien at metus convallis, in vestibulum lorem aliquet. Sed tincidunt, nibh at euismod elementum, nisl nisl interdum est, sit amet semper enim ante quis risus. Quisque sed justo mi. Aliquam et dictum dolor, a cursus nisi. Fusce eget mattis orci. Integer nec lectus non nisl malesuada semper vel at urna. In cursus dolor risus, quis maximus lorem dignissim vel. Integer eu elit sed odio luctus aliquam nec et tortor
                </p>
            </div>
            <div>
            </div>
        </section>
        <section class="section row">
            <div class="upcoming-contests__section">
                Upcoming contests here
            </div>
        </section>

    </div>

</div>