
<div ng-controller="mainCtl">

    <div class="content__header">
        <h2>Main page</h2>
    </div>
    <div class="content__panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat lorem at ante eleifend, et lobortis mauris pulvinar. Morbi gravida ante ligula, sit amet fermentum diam eleifend iaculis. Aenean non blandit nibh, a dignissim arcu. Aenean nec lobortis ex. Vestibulum pellentesque erat nec felis vestibulum, sed accumsan felis porttitor. Sed condimentum fermentum ipsum, sit amet interdum ante mattis quis. Nullam nec tincidunt quam. Praesent venenatis bibendum mattis. Cras gravida feugiat vehicula. Duis cursus ultricies augue, sed pretium nulla molestie tempor. Etiam elementum ac libero ut consequat.
        </p>
    </div>
</div>