<div class="quiz-stats">
    <h2 class="content-title quiz-stat-title">QUIZ STATS</h2>
    <div class="quiz-stat-table">
        <div class="quiz-stat-row text-purple quiz-stat-correct">
            <div class="quiz-stat-text-column">correct answers</div>
            <div class="quiz-stat-number-column">2</div>
        </div>
        <div class="quiz-stat-row quiz-stat-questions">
            <div class="quiz-stat-text-column">questions answered</div>
            <div class="quiz-stat-number-column">3</div>
        </div>
    </div>
</div>

<h1 class="content-title">Practice</h1>
<hr class="horizontal-divider" />
<h2 class="content-subtitle">Category question: ISML</h2>
<div class="card mt-5">
    <div class="card-header question">
        Some Random Long Question?
    </div>
    <div class="card-body">
        <div class="radio answer">
            <input type="radio" name="question-1" id="radio-1">
            <label for="radio-1">Answer 1</label>
        </div>
        <div class="radio answer">
            <input type="radio" name="question-1" id="radio-2">
            <label for="radio-2">Answer 2</label>
        </div>
        <div class="radio answer">
            <input type="radio" name="question-1" id="radio-3">
            <label for="radio-3">Answer 3</label>
        </div>
        <div class="radio answer">
            <input type="radio" name="question-1" id="radio-4">
            <label for="radio-4">Answer 4</label>
        </div>
    </div>
</div>

<button class="medium-box continue-button box-disabled float-right mt-3">Continue</button>