<div ng-controller="practiceCtl">
    <div class="content__header">
        <h2 class="content-title">Practice</h2>
        <hr class="horizontal-divider" />
        <div class="content__header__subtitle pb-4">
            Choose the category you want to practice
        </div>
    </div>
    <div class="row">
        <div ng-repeat="category in lists.categories" class="col-3">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="category__tile large-box text-center" ng-click="listQuestions(category._id)">
                {{category.name}}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <hr class="horizontal-divider w-100" />
        <div class="col-3">
            <div class="category__tile large-box d-flex text-center" ng-click="listQuestions()">
                I'm feeling lucky
            </div>
        </div>
    </div>

</div>