<div ng-controller="rankingCtl">
    <h2 class="content-title">Ranking</h2>
    <hr class="horizontal-divider" />
    <table class="table bg-white">
        <tbody>
            <tr>
                <th>
                    Position
                </th>
                <th>
                    Name
                </th>
                <th>
                    Level
                </th>
                <th>
                    Team
                </th>
            </tr>
        </tbody>
        <tr ng-repeat="usr in lists.members">
            <td>
                {{usr.position}}
            </td>
            <td>
                {{usr.firstName}} {{usr.lastName}}
            </td>
            <td>
                {{usr.level}}
            </td>
            <td>
                {{usr.team}}
            </td>
        </tr>
    </table>
</div>