
<div>
    <ul class="breadcrumb">
        <li><a href="/"> Home</a></li>
        <li>Congigurações Gerais</li>
        <li class="active">{{cfgAtual.nome}}</li>
    </ul>
</div>

<div class="row">

    <uib-tabset active="active">

        <uib-tab index="$index" ng-repeat="cfg in menu.config" heading="{{cfg.nome}}" select="defineCfg( cfg )" ng-hide="cfg.admin && !usuario.admin">

            <div class="row" style="padding: 15px">
                <div class="col-md-12" style="padding: 0 20px;">

                    <div class="pull-left">
                        <button type="button" class="btn btn-success btn-sm" ng-click="novo()">
                            <span class="fa fa-plus-square-o" aria-hidden="true"></span> Novo
                        </button>

                        <button type="button" class="btn btn-warning btn-sm" ng-click="editar()" ng-disabled="atual.length == 0">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Editar
                        </button>

                        <button type="button" class="btn btn-danger btn-sm" ng-click="apagar()" ng-disabled="atual.length == 0">
                            <span class="fa fa-minus-square-o" aria-hidden="true"></span> Apagar
                        </button>

                    </div>

                    <div class="pull-right has-feedback">
                        <input class="form-control input-sm" type="search" ng-model="pesquisa.texto" placeholder="Pesquisar..."/>
                        <span class="fa fa-search form-control-feedback" aria-hidden="true" ng-if="pesquisa.texto.length == 0"></span>
                        <i class="fa fa-times limpa" ng-click="limpaInput()" ng-if="pesquisa.texto.length > 0"></i>
                    </div>

                </div>
            </div>

            <div style="padding: 0 20px">
                <div dinamico='cfg.tab'></div>
            </div>

        </uib-tab>

    </uib-tabset>

</div>




