

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title"> Editar Usuário </h3>
</div>

<div class="modal-body">
    <form ng-submit="salvar()" method="post" name="frmSenha">

        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="form-group" ng-class="{'has-error': !campo.nome}">
                    <label class="control-label"><small>Nome *</small></label>

                    <input class="form-control input-sm" type="text" ng-model="campo.nome"
                           placeholder='Usuário' autofocus required>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-12 col-sm-12">

                <button type="button" class="btn btn-default btn-sm extra" ng-click="maisOp = !maisOp">
                    Alterar Senha
                </button>

                <hr style="margin-top: 15px; margin-bottom: 15px;"/>

                <div uib-collapse="!maisOp">

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" ng-class="{'has-error': !campo.atual}">
                            <label class="control-label"><small>Senha Atual *</small></label>

                            <input class="form-control input-sm" type="password" ng-model="campo.atual"
                                   ng-required="maisOp">
                        </div>
                    </div>

                    <hr style="margin: 2px 0"/>

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" ng-class="{'has-error': !campo.nova}">
                            <label class="control-label"><small>Nova Senha *</small></label>

                            <input class="form-control input-sm" type="password" ng-model="campo.nova"
                                   ng-required="maisOp">
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" ng-class="{'has-error': !campo.novaRep}">
                            <label class="control-label"><small>Confirmar Nova Senha *</small></label>

                            <input class="form-control input-sm" type="password" ng-model="campo.novaRep"
                                   ng-required="maisOp">
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- ALERTAS -->
        <div class="alert alert-warning" ng-if="(maisOp && campo.atual) && (campo.velha != campo.atual)">
            <strong>ATENÇÃO!</strong> A Senha Atual não confere.
            <input type="text" ng-model="nada" ng-required="maisOp && (campo.velha != campo.atual)" ng-hide="true"/>
        </div>

        <div class="alert alert-warning" ng-if="(maisOp && campo.nova && campo.novaRep) && (campo.nova != campo.novaRep)">
            <strong>ATENÇÃO!</strong> As Novas Senhas digitadas não conferem.
            <input type="text" ng-model="nada" ng-required="maisOp && campo.nova != campo.novaRep" ng-hide="true"/>
        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="pull-left">
        <button class="btn btn-primary btn-sm" type="button" ng-click="salvar()" ng-disabled="frmSenha.$invalid">Salvar</button>



        <a href style="color: darkred; padding: 10px;" ng-click="cancel()">Cancelar</a>
    </div>

</div>

