

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{ (!campo._id) ? "Novo" : "Editar"}} Tipo de Máquina</h3>
</div>

<div class="modal-body">
    <form ng-submit="salvar()" method="post" name="frmTpm">

        <div class="row">

            <div class="col-md-8 col-sm-8">
                <div class="form-group" ng-class="{'has-error': !campo.nome}">
                    <label class="control-label"><small>Tipo de Máquina *</small> </label>

                    <input class="form-control input-sm" type="text" placeholder="Tipo de Máquina"
                           ng-model="campo.nome" autofocus required>
                </div>
            </div>

        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="pull-left">
            <span ng-if="itens.length <= 1">
                <button class="btn btn-primary btn-sm" type="button" ng-click="salvar()" ng-disabled="frmTpm.$invalid">Salvar</button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="salvar('f')" ng-disabled="frmTpm.$invalid">Salvar & Fechar</button>
            </span>

            <span ng-if="itens.length > 1">
                <button class="btn btn-primary btn-sm" type="button" ng-click="salvar('e')" ng-disabled="frmTpm.$invalid">Salvar & Editar Próximo</button>
            </span>

        <a href style="color: darkred; padding: 10px;" ng-click="cancel()">Cancelar</a>
    </div>

    <div class="pull-right">
        <button class="btn btn-default btn-sm" type="button" ng-click="zera()" >Limpar Campos</button>
    </div>
</div>

